<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;human_rocket&#x2F;tank_controls - SPLURT Station 13</title>
</head>
<body>
<header>
    <a href="index.html">SPLURT Station 13</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/human_rocket/tank_controls.html#proc">Proc Details</a></header>
<main>
<h1>tank_controls <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/human_rocket/tank_controls.html">human_rocket/tank_controls</a></aside>
        
    
            <a href="https://github.com/sla2her/MOLOT-BlueMoon-Station-Sla2her/blob/a20d1959a6764d49a08d8be16a3cabceded55b3d/modular_bluemoon/SmiLeY/venicle/funny_movement/human_rocket.dm#L88">
        <img src="git.png" width="16" height="16" title="modular_bluemoon&#x2F;SmiLeY&#x2F;venicle&#x2F;funny_movement&#x2F;human_rocket.dm 88"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/human_rocket/tank_controls.html#proc/RegisterWithParent">RegisterWithParent</a></th><td>tank controls</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/RegisterWithParent"><aside class="parent"><a title="/datum/component" href="datum/component.html#proc/RegisterWithParent">&uarr;</a></aside>RegisterWithParent<aside>() 
        
    
            <a href="https://github.com/sla2her/MOLOT-BlueMoon-Station-Sla2her/blob/a20d1959a6764d49a08d8be16a3cabceded55b3d/modular_bluemoon/SmiLeY/venicle/funny_movement/human_rocket.dm#L74">
        <img src="git.png" width="16" height="16" title="modular_bluemoon&#x2F;SmiLeY&#x2F;venicle&#x2F;funny_movement&#x2F;human_rocket.dm 74"/></a></aside>
        </h3>
        <p>tank controls</p></main>
<footer>
    tgstation.dme
    <a href="https://github.com/sla2her/MOLOT-BlueMoon-Station-Sla2her/tree/a20d1959a6764d49a08d8be16a3cabceded55b3d">a20d195</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.7.3</a></footer>
</body>
</html>
